.css_colegio_id_det_label {text-align: left;vertical-align: middle;}
.css_colegio_id_det_line {height:0px;text-align: left;}
.css_periodo_id_det_label {text-align: left;vertical-align: middle;}
.css_periodo_id_det_line {height:0px;text-align: left;}
.css_curso_id_det_label {text-align: left;vertical-align: middle;}
.css_curso_id_det_line {height:0px;text-align: left;}
.css_grado_id_det_label {text-align: left;vertical-align: middle;}
.css_grado_id_det_line {height:0px;text-align: left;}
.css_descripcion_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: left;}
.css_ubicacion_det_label {text-align: left;vertical-align: middle;}
.css_ubicacion_det_line {height:0px;text-align: left;}
.css_turno_id_det_label {text-align: left;vertical-align: middle;}
.css_turno_id_det_line {height:0px;text-align: left;}
.css_docente_guia_id_det_label {text-align: left;vertical-align: middle;}
.css_docente_guia_id_det_line {height:0px;text-align: left;}
.css_comentarios_det_label {text-align: left;vertical-align: middle;}
.css_comentarios_det_line {height:0px;text-align: left;}
.css_cant_max_alumnos_det_label {text-align: left;vertical-align: middle;}
.css_cant_max_alumnos_det_line {height:0px;text-align: left;}
