.css_fotografia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fotografia_grid_line {vertical-align: top;text-align: right;}
.css_codigo_estudiante_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_codigo_estudiante_grid_line {vertical-align: top;text-align: right;}
.css_nombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: right;}
.css_primer_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_primer_apellido_grid_line {vertical-align: top;text-align: right;}
.css_segundo_apellido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_segundo_apellido_grid_line {vertical-align: top;text-align: right;}
.css_numero_carnet_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_numero_carnet_grid_line {vertical-align: top;text-align: right;}
.css_grado_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_grado_id_grid_line {vertical-align: top;text-align: right;}
.css_estatus_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estatus_grid_line {vertical-align: top;text-align: right;}
.css_telefono_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono_grid_line {vertical-align: top;text-align: right;}
.css_estudiante_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_estudiante_id_grid_line {vertical-align: top;text-align: right;}
.css_colegio_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_colegio_id_grid_line {vertical-align: top;text-align: right;}
