.css_asignatura_id_label { }
.css_asignatura_id_line {text-align:left;}
.css_asignatura_id_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_descripcion_detallada_label { }
.css_descripcion_detallada_line { }
.css_descripcion_detallada_obj { }
.css_especialidad_id_label { }
.css_especialidad_id_line {text-align:left;}
.css_especialidad_id_obj {text-align:left;}
.css_reportar_gobierno_label { }
.css_reportar_gobierno_line { }
.css_reportar_gobierno_obj { }
.css_tipo_calificacion_id_label { }
.css_tipo_calificacion_id_line {text-align:left;}
.css_tipo_calificacion_id_obj {text-align:left;}
