.css_nivel_label {text-align:;}
.css_nivel_line {text-align:left;}
.css_nivel_obj {text-align:left;}
.css_abreviacion_label { }
.css_abreviacion_line { }
.css_abreviacion_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_minimo_label { }
.css_minimo_line {text-align:left;}
.css_minimo_obj {text-align:left;}
.css_maximo_label { }
.css_maximo_line {text-align:left;}
.css_maximo_obj {text-align:left;}
.css_color_label { }
.css_color_line { }
.css_color_obj { }
