.css_estudiante_id_label { }
.css_estudiante_id_line {text-align:left;}
.css_estudiante_id_obj {text-align:left;}
.css_numero_lista_label { }
.css_numero_lista_line {text-align:left;}
.css_numero_lista_obj {text-align:left;}
