.css_padre_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_padre_id_grid_line {vertical-align: top;text-align: right;}
.css_parentezco_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_parentezco_grid_line {vertical-align: top;text-align: right;}
.css_tutor_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tutor_grid_line {vertical-align: top;text-align: right;}
.css_patrocinador_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_patrocinador_grid_line {vertical-align: top;text-align: right;}
.css_llamar_emergencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_llamar_emergencia_grid_line {vertical-align: top;text-align: right;}
.css_colegio_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_colegio_id_grid_line {vertical-align: top;text-align: right;}
.css_estudiante_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_estudiante_id_grid_line {vertical-align: top;text-align: right;}
