.css_colegio_id_det_label {text-align: left;vertical-align: middle;}
.css_colegio_id_det_line {height:0px;text-align: left;}
.css_periodo_id_det_label {text-align: left;vertical-align: middle;}
.css_periodo_id_det_line {height:0px;text-align: left;}
.css_curso_id_det_label {text-align: left;vertical-align: middle;}
.css_curso_id_det_line {height:0px;text-align: left;}
.css_asignatura_id_det_label {text-align: left;vertical-align: middle;}
.css_asignatura_id_det_line {height:0px;text-align: left;}
.css_docente_id_det_label {text-align: left;vertical-align: middle;}
.css_docente_id_det_line {height:0px;text-align: left;}
.css_comentarios_det_label {text-align: left;vertical-align: middle;}
.css_comentarios_det_line {height:0px;text-align: left;}
