.css_grado_id_label { }
.css_grado_id_line {text-align:left;}
.css_grado_id_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_ubicacion_label { }
.css_ubicacion_line { }
.css_ubicacion_obj { }
.css_turno_id_label { }
.css_turno_id_line {text-align:left;}
.css_turno_id_obj {text-align:left;}
.css_docente_guia_id_label {text-align:left;}
.css_docente_guia_id_line {text-align:left;}
.css_docente_guia_id_obj {text-align:left;}
.css_comentarios_label { }
.css_comentarios_line { }
.css_comentarios_obj { }
.css_cant_max_alumnos_label { }
.css_cant_max_alumnos_line {text-align:left;}
.css_cant_max_alumnos_obj {text-align:left;}
