.css_grado_id_label { }
.css_grado_id_line {text-align:left;}
.css_grado_id_obj {text-align:left;}
.css_grado_nombre_label { }
.css_grado_nombre_line { }
.css_grado_nombre_obj { }
.css_tipo_grado_id_label { }
.css_tipo_grado_id_line {text-align:left;}
.css_tipo_grado_id_obj {text-align:left;}
.css_actualiza_estudiante_label { }
.css_actualiza_estudiante_line { }
.css_actualiza_estudiante_obj { }
.css_asignaturas_label { }
.css_asignaturas_line { }
.css_asignaturas_obj { }
