.css_colegio_id__label {text-align:;}
.css_colegio_id__line {text-align:left;}
.css_colegio_id__obj {text-align:left;}
.css_periodo_id__label {text-align:;}
.css_periodo_id__line {text-align:left;}
.css_periodo_id__obj {text-align:left;}
.css_curso_id__label {text-align:;}
.css_curso_id__line {text-align:left;}
.css_curso_id__obj {text-align:left;}
.css_estudiante_id__label { }
.css_estudiante_id__line {text-align:left;}
.css_estudiante_id__obj {text-align:left;}
.css_asignatura_id__label { }
.css_asignatura_id__line {text-align:left;}
.css_asignatura_id__obj {text-align:left;}
.css_calificacion_final__label {text-align:right;}
.css_calificacion_final__line {text-align:right;}
.css_calificacion_final__obj {text-align:right;}
.css_calificacion_1__label {text-align:right;}
.css_calificacion_1__line {text-align:right;}
.css_calificacion_1__obj {text-align:right;}
.css_calificacion_nivel_1__label { }
.css_calificacion_nivel_1__line { }
.css_calificacion_nivel_1__obj { }
.css_calificacion_2__label {text-align:right;}
.css_calificacion_2__line {text-align:right;}
.css_calificacion_2__obj {text-align:right;}
.css_calificacion_nivel_2__label { }
.css_calificacion_nivel_2__line { }
.css_calificacion_nivel_2__obj { }
.css_calificacion_3__label {text-align:right;}
.css_calificacion_3__line {text-align:right;}
.css_calificacion_3__obj {text-align:right;}
.css_calificacion_nivel_3__label { }
.css_calificacion_nivel_3__line { }
.css_calificacion_nivel_3__obj { }
.css_calificacion_4__label {text-align:right;}
.css_calificacion_4__line {text-align:right;}
.css_calificacion_4__obj {text-align:right;}
.css_calificacion_nivel_4__label { }
.css_calificacion_nivel_4__line { }
.css_calificacion_nivel_4__obj { }
.css_calificacion_5__label {text-align:right;}
.css_calificacion_5__line {text-align:right;}
.css_calificacion_5__obj {text-align:right;}
.css_calificacion_nivel_5__label { }
.css_calificacion_nivel_5__line { }
.css_calificacion_nivel_5__obj { }
.css_calificacion_6__label {text-align:right;}
.css_calificacion_6__line {text-align:right;}
.css_calificacion_6__obj {text-align:right;}
.css_calificacion_nivel_6__label { }
.css_calificacion_nivel_6__line { }
.css_calificacion_nivel_6__obj { }
.css_calificacion_7__label {text-align:right;}
.css_calificacion_7__line {text-align:right;}
.css_calificacion_7__obj {text-align:right;}
.css_calificacion_nivel_7__label { }
.css_calificacion_nivel_7__line { }
.css_calificacion_nivel_7__obj { }
.css_calificacion_8__label {text-align:right;}
.css_calificacion_8__line {text-align:right;}
.css_calificacion_8__obj {text-align:right;}
.css_calificacion_nivel_8__label { }
.css_calificacion_nivel_8__line { }
.css_calificacion_nivel_8__obj { }
.css_calificacion_9__label {text-align:right;}
.css_calificacion_9__line {text-align:right;}
.css_calificacion_9__obj {text-align:right;}
.css_calificacion_nivel_9__label { }
.css_calificacion_nivel_9__line { }
.css_calificacion_nivel_9__obj { }
