.css_asignatura_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_asignatura_id_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_especialidad_id_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_especialidad_id_grid_line {vertical-align: top;text-align: left;}
.css_reportar_gobierno_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reportar_gobierno_grid_line {vertical-align: top;text-align: left;}
.css_colegio_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_colegio_id_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_detallada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descripcion_detallada_grid_line {vertical-align: top;text-align: left;}
