.css_desde_label { }
.css_desde_line { }
.css_desde_obj { }
.css_hasta_label { }
.css_hasta_line { }
.css_hasta_obj { }
.css_tipo_periodo_id_label { }
.css_tipo_periodo_id_line {text-align:left;}
.css_tipo_periodo_id_obj {text-align:left;}
.css_periodo_descripcion_label { }
.css_periodo_descripcion_line { }
.css_periodo_descripcion_obj { }
.css_estatus_id_label { }
.css_estatus_id_line {text-align:left;}
.css_estatus_id_obj {text-align:left;}
.css_cursos_label { }
.css_cursos_line { }
.css_cursos_obj { }
