.css_colegio_id__label {text-align:;}
.css_colegio_id__line {text-align:left;}
.css_colegio_id__obj {text-align:left;}
.css_periodo_id__label {text-align:;}
.css_periodo_id__line {text-align:left;}
.css_periodo_id__obj {text-align:left;}
.css_curso_id__label {text-align:;}
.css_curso_id__line {text-align:left;}
.css_curso_id__obj {text-align:left;}
.css_asignatura_id__label { }
.css_asignatura_id__line {text-align:left;}
.css_asignatura_id__obj {text-align:left;}
.css_docente_id__label { }
.css_docente_id__line {text-align:left;}
.css_docente_id__obj {text-align:left;}
.css_comentarios__label { }
.css_comentarios__line { }
.css_comentarios__obj { }
