.css_fotografia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fotografia_grid_line {vertical-align: top;text-align: left;}
.css_padre_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_padre_id_grid_line {vertical-align: top;text-align: right;}
.css_apellidos_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_apellidos_grid_line {vertical-align: top;text-align: left;}
.css_nombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: left;}
.css_identificacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_identificacion_grid_line {vertical-align: top;text-align: left;}
.css_telefono_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono_grid_line {vertical-align: top;text-align: left;}
.css_correo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: left;}
.css_comentarios_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_comentarios_grid_line {vertical-align: top;text-align: left;}
.css_colegio_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_colegio_id_grid_line {vertical-align: top;text-align: right;}
