.css_fecha_hora_enviado_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_hora_enviado_grid_line {vertical-align: top;text-align: center;}
.css_enviado_por_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_enviado_por_grid_line {vertical-align: top;text-align: right;}
.css_titulo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_titulo_grid_line {vertical-align: top;text-align: right;}
.css_colegio_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_colegio_id_grid_line {vertical-align: top;text-align: right;}
.css_notificacion_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_notificacion_id_grid_line {vertical-align: top;text-align: right;}
.css_enviado_a_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_enviado_a_grid_line {vertical-align: top;text-align: right;}
.css_mensaje_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mensaje_grid_line {vertical-align: top;text-align: right;}
