.css_colegio_id__label {text-align:;}
.css_colegio_id__line {text-align:left;}
.css_colegio_id__obj {text-align:left;}
.css_estatus_id__label {text-align:;}
.css_estatus_id__line {text-align:left;}
.css_estatus_id__obj {text-align:left;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
